body{
    background-color: white;
    margin:0;
    font-family: 'Open Sans';
}

#banner{
    height:800px;
    width:100%;
    color:white;
    text-align:center;
    overflow:hidden;
    max-height:800px;
    height:100%;
    
}

#banneroverlay {
    height:inherit;
    width:inherit;
    position:absolute;
    box-shadow: inset 0px 0px 150px rgba(0,0,0,1);
    z-index:1;
    max-height:800px;
    height:100%;
}

#bannertext{
    z-index:2;
    transform:translate(-50%,-50%);
    box-shadow: 0px 0px 100px rgba(0,0,0,1);
    /*background-color:rgba(0,0,0,calc(90/256));*/
    background-image:radial-gradient(circle, rgba(0,0,0,calc(161/256)) center, rgba(0,0,0,calc(122/256)) closest-side, rgba(0,0,0,calc(95/256)) farthest-corner);
    /* Still not properly vertically centered*/
    /*Gon need a border gradient so it looks flush with the shadow*/
    padding:8px;
}

@media (min-height: 800px) {
    #bannertext{
        position:absolute;
        top:400px;
        left:50%;
    }
}

@media not (min-height: 800px) {
    #bannertext{
        position:absolute;
        top:50%;
        left:50%;
    }
}

#bannerbkg{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    z-index:-1;
}

#menu{
    height:80px;
    width:100%;
    background-color:rgba(235,235,235,1);
    z-index:1;
}

#content{
    width:100%;
    margin:auto;
    background-color:white;
    z-index:0;
}

#post{
    max-width:1080px;
    margin:auto;
    padding:8px;
}
