html {
	background-color: #e4e8eb;
	font-family: Georgia;
	color: rgba(60, 60, 60, 1);
}

body {
	margin-top: 4em;
	margin-left: auto;
	margin-bottom: 8em;
	margin-right: auto;
	max-width: 640px;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 0.25em;
	border-bottom-color: rgba(80, 80, 80, 0.75);
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: inherit;
	margin: 0em;
	text-indent: 0em;
}

p {
	text-indent: 2.5em;
	margin: 0.5em;
}

.title {
	text-align: center;
}

.underline {
	border-bottom-color: rgba(80, 80, 80, 0.75);
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

.menucontainer {
	margin: 0 auto 0 auto;
}

.menu {
	list-style: none;
	margin: 0 auto 0 auto;
	padding: 0;
	overflow: hidden;
	text-align: center;
}

.menuelement {
	display: inline-block;
}

.menuelement:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.menuelement a {
	display: block;
	padding: 0.5em 1em;
	color: black;
}
