html {
	background-color: #e4e8eb;
	font-family: Georgia;
	color: rgba(60, 60, 60, 1);
}

body {
	margin-top: 4em;
	margin-left: auto;
	margin-bottom: 8em;
	margin-right: auto;
	max-width: 640px;
	padding-left: 8px;
	padding-right: 8px;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: inherit;
	margin: 0em;
}

.title {
	text-align: center;
	border-bottom-color: rgba(80, 80, 80, 0.75);
	border-bottom-style: solid;
	border-width: 1px;
}
