@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
    margin: 0px;
}

.slides {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.slides > div {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 0;
}

.slides > .focus {
    z-index: 1;
}

.slides > .projects {
    background-image: radial-gradient(ellipse, rgba(112, 219, 112, 1), rgba(36, 143, 36, 1));
}

.slides > .projects > .flask {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    clip-path: polygon(40% 0%, 60% 0%, 60% 50%, 100% 90%, 100% 100%, 0% 100%, 0% 90%, 40% 50%);
    border-radius: 10%;
}

.slides > .projects > .white {
    background-color: white;
    height: 50vmin;
    width: 50vmin;
}

.slides > .projects > .red {
    margin-top: 0.5vmin;
    background-color: red;
    height: 48vmin;
    width: 48vmin;
    animation levelchange 20s ease-in-out 0 infinite alternate;
    animation-name: levelchange;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.slides > .projects > .heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 7.5vmin;
    color: white;
    text-shadow: 0.1vw 0.1vh 0 rgba(102, 153, 153, 0.4), 0.2vw 0.2vh 0 rgba(102, 153, 153, 0.4), 0.3vw 0.3vh 0 rgba(102, 153, 153, 0.4), 0.4vw 0.4vh 0 rgba(102, 153, 153, 0.4), 0.5vw 0.5vh 0 rgba(102, 153, 153, 0.4);
    font-family: 'Times New Roman';
}

.slides > .title {
    background-color: white;
    background-image: radial-gradient(ellipse, rgba(0, 0, 0, 0.8), black);
}

.slides > .title > code {
    position: absolute;
    color: rgba(48, 255, 0, 1);
    font-family: 'Roboto Mono', monospace;
}

.slides > .title > code .flicker {
    transform: translate(0, 100%);
}

.slides > .title > code > .flicker > span {
    opacity: 1;
    animation-iteration-count: infinite;
}

.slides > .title > code > .flicker + span > span {
    color: rgba(48, 255, 0, 0.7);
    opacity: 0;
    animation-iteration-count: infinite;
}

.slides > .title > code .large, .slides > .title > code .large + span {
    font-size: 6em;
    display: block;
}

.slides > .title > code > .subtext {
    border-color: rgba(48, 255, 0, 1);
    border-top-style: solid;
    border-top-width: 1px;
    padding-top: 1em;
    animation-name: flickerin;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.slides > .title > code > .subtext > a {
    color: rgba(48, 255, 0, 1);
}

@media only screen and (min-width: 500px) {
    .slides > .title > code {
        left: 10%;
    }
}

@media only screen and (max-height: 350px) {
    .slides > .title > code {
        top: -10%;
    }
}

@media only screen and (max-width: 500px) {
    .slides > .title > code > .flicker, .slides > .title > code > .flicker + span {
        font-size: 5em;
        text-align: center;
    }

    .slides > .title > code > .subtext {
        text-align: center;
    }

    .slides > .title > code {
        display: block;
        top: 50%;
        transform: translate(0%, -75%);
    }

    .slides > .title > code > .subtext {
        margin: 1em;
    }
}

@media only screen and (min-height: 500px) and (min-width: 500px) {
    .slides > .title > code {
        top: 20%;
    }
}

@keyframes flickerin{
    0% {opacity: 0.7;}
    10.75% {opacity: 0.7;}
    10.75001% {opacity: 1;}
    10.9999% {opacity: 1;}
    11% {opacity: 0.5;}
    13.75% {opacity: 0.5;}
    13.75001% {opacity: 1;}
    13.9999% {opacity: 1;}
    14% {opacity: 0.25;}
    15% {opacity: 0.25;}
    15.0001% {opacity: 1;}
}

@keyframes flickeron1 {
    40% {opacity: 1;}
    40.001% {opacity: 0;}
    40.999% {opacity: 0;}
    41% {opacity: 1;}
}
@keyframes flickeroff1 {
    40% {opacity: 0;}
    40.001% {opacity: 1;}
    40.999% {opacity: 1;}
    41% {opacity: 0;}
}
@keyframes flickeron2 {
    30% {opacity: 1;}
    30.001% {opacity: 0;}
    30.999% {opacity: 0;}
    31% {opacity: 1;}
    33% {opacity: 1;}
    33.001% {opacity: 0;}
    33.999% {opacity: 0;}
    34% {opacity: 1;}
}
@keyframes flickeroff2 {
    30% {opacity: 0;}
    30.001% {opacity: 1;}
    30.999% {opacity: 1;}
    31% {opacity: 0;}
    33% {opacity: 0;}
    33.001% {opacity: 1;}
    33.999% {opacity: 1;}
    34% {opacity: 0;}
}
@keyframes levelchange {
    0% {clip-path: polygon(40% 0%, 60% 0%, 60% 50%, 100% 90%, 100% 100%, 0% 100%, 0% 90%, 40% 50%);
        background-color: red;
    }
    20% {clip-path: polygon(40% 0%, 60% 0%, 60% 50%, 100% 90%, 100% 100%, 0% 100%, 0% 90%, 40% 50%);}
    33.33% {background-color: blue;}
    66.67% {background-color: green;}
    80% {clip-path: polygon(40% 40%, 60% 40%, 60% 50%, 100% 90%, 100% 100%, 0% 100%, 0% 90%, 40% 50%);}
    100% {clip-path: polygon(40% 40%, 60% 40%, 60% 50%, 100% 90%, 100% 100%, 0% 100%, 0% 90%, 40% 50%);
        background-color: red;
    }
}
