body {
    display: grid;
    line-height: 1.6em;
    font-family: Georgia;
    font-size: 1.2em;
}

section {
    padding-bottom: 0.2em;
}

header {
    grid-area: header;
    padding: 10px;
    max-width: 720px;
    border-bottom-style: double;
}

article {
    grid-area: content;
    padding: 10px;
    max-width: 720px;
}

nav {
    grid-area: nav;
}

nav > ul > li {
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal
}

a {
    color: inherit;
    text-decoration: underline dotted;
}

a:hover {
    background-color: rgba(120, 120, 120, 0.2);
    text-decoration: underline;
}
