body {
    display: grid;
    line-height: 1.6em;
    font-size: 1.2em;
}

h1,h2,h3 {
    line-height: 1.2em;
}

article {
    grid-area: content;
    padding: 10px;
    max-width: 720px;
}

nav {
    grid-area: nav;
}

nav > ul > li {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: underline dotted;
}

a:hover {
    background-color: rgba(120, 120, 120, 0.2);
    text-decoration: underline;
}