body {
    background-color: #EEE;
}

code {
    background-color: rgba(168, 168, 168, 0.5)
}

@media(prefers-color-scheme: dark) {

    body {
        color: #EEE;
        background-color: #111;
    }

    code {
        background-color: black;
    }

}
