body {
    display: grid;
    line-height: 1.6em;
    font-family: Georgia;
}

section {
    padding-bottom: 0.2em;
}

header {
    grid-area: header;
    padding: 10px;
    max-width: 720px;
    border-bottom-style: double;
}

article {
    grid-area: content;
    padding: 10px;
    max-width: 720px;
}

nav {
    grid-area: nav;
}

nav > ul > li {
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal
}

code {
    display: block;
    padding: 1em;
    border-radius: 1em;
}

p code, li code, h2 code, h3 code, h4 code {
    display: inline;
    padding: 0.5em;
    border-radius: 0em;
}

section img {
    max-width: 100%;
    padding: 1ch 1ch 1ch 1ch;
    border-style: solid;
    border-width: 1px;
    border-radius: 1ch;
    background-color: white;
}

a {
    color: inherit;
    text-decoration: underline dotted;
}

a:hover {
    background-color: rgba(120, 120, 120, 0.2);
    text-decoration: underline;
}
