<!DOCTYPE html>
<html lang='en'>

    <head>
        <title> {{ page.title }} </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='stylesheet' type='text/css' href='/styles/style.css' />
        <link rel='stylesheet' type='text/css' href='/styles/color-scheme.css' />
        <link rel='stylesheet' type='text/css' href='/styles/device_layout.css' />
    </head>
    
    <body>
        {% include default_nav.html %}
        <header>
            {% if page.header %}
                {% include {{ page.header }} %}
            {% else %}
                <h1> {{ page.title }} </h1>
            {% endif %}
        </header>
        <article>
        
        {{ content }}
        
        </article>
    </body>
    
</html>
