<!DOCTYPE html>
<html lang='en'>

    <head>
        <title> {{ page.title }} </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='stylesheet' type='text/css' href='style.css' />
        <link rel='stylesheet' type='text/css' href='theme.css' />
        <link rel='stylesheet' type='text/css' href='device_layout.css' />
    </head>
    
    <body>
        <nav>
            <ul>
                <li><a href='/'>About Me</a></li>
                <li><a href='resume.pdf'>Resume</a></li>
                <li><a href='photography.html'>Photography</a></li>
                <li><a href='experiments.html'>Experiments</a></li>
                <li><a href='mailto:slimaye@ucsd.edu'>Get in Touch</a></li>
            </ul>
        </nav>
        <article>
        
        {{ content }}
        
        </article>
    </body>
    
</html>
