<!DOCTYPE html>
<html lang='en'>

    <head>
        <title> {{ page.title }} </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='stylesheet' type='text/css' href='style.css' />
        <link rel='stylesheet' type='text/css' href='color-scheme.css' />
        <link rel='stylesheet' type='text/css' href='device_layout.css' />
    </head>
    
    <body>
        <nav>
            <ul>
                <li><a href='/'>Home</a></li>
                <li><a href='resume.pdf'>Resume</a></li>
                <li><a href='https://photos.app.goo.gl/9T4vCW6RxxV7BSfW9'>Photography</a></li>
                <li><a href='experiments.html'>Experiments</a></li>
                <li><a href='mailto:slimaye@ucsd.edu'>Get in Touch</a></li>
            </ul>
        </nav>
        <header>
            {% if page.header %}
                {% include {{ page.header }} %}
            {% else %}
                <h1> {{ page.title }} </h1>
            {% endif %}
        </header>
        <article>
        
        {{ page.content }}
        
        </article>
    </body>
    
</html>
